<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thymeleaf3</title>
</head>
<body>
	<h1 th:text="${now1}"></h1>
	<h3 th:text="${#temporals.format(now1, 'yyyy-MM-dd HH:mm:ss')}"></h3>
	
	<h1 th:text="${now2}"></h1>
	<h3 th:text="${#dates.format(now2, 'yyyy-MM-dd')}"></h3>
	
	<div th:with="timeValue=${#dates.createToday()}">
		<p>[[${timeValue}]]</p>
	</div>
	
	<h1 th:text="${price}"></h1>
	<h2 th:text="${#numbers.formatInteger(price, 3, 'COMMA')}"></h2>
	<div th:with="priceValue=99.87654">
		<p th:text="${#numbers.formatInteger(priceValue, 3, 'COMMA')}"></p>
		<p th:text="${#numbers.formatDecimal(priceValue, 5, 10, 'POINT')}"></p>
	</div>
	
	<h1 th:text="${title}"></h1>
	<span th:utext="${#strings.replace(title, 's', '<b>s</b>')}"></span>
	<ul>
		<li th:each="str : ${#strings.listSplit(title, ' ')}">
			[[${str}]]
		</li>
	</ul>
	<h1 th:text="${options}"></h1>
</body>
</html>